body {
    line-height: 2;
    height: 100%;
}

#app{
    display:block;
    height: 100%;
    max-height: 100%
}

#symulation{
    height: 100%;
    max-height: 100%
}

.item {
    height: 3px;
    width: 3px;
    margin: 1px;
    border: 1px solid black;
    display: inline-block;
    }

.--selected-true{
    background-color: black;
}